<div class="text">
	<p>Hi!  I'm Dave and I'm an aspiring web developer/programmer.  I'm a fan of 8-bit & 16-bit videogames and cheesy 80's action and horror movies.  I love to build and do fun things with code.  Whether it's coding some cool javaScript effects or making funny little games, I see code as a form of art.  Code is my paint and the web is my canvas.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis quaerat, dolore deleniti similique dolor sit sed, nesciunt, earum voluptate eius quia? Odit modi ipsa sint ex rem magnam distinctio!</p>
</div>
