<% for(let i = 0; i < posts.length; i++) { %>
			<div class="">
					<h1 class="title"><%= posts[i].title %></h1>

					<h4 class="date"><%= posts[i].date %></h4>

					<p class="body"><%= posts[i].body %></p>

			</div>
			<a href="/form">Add post</a><br/>

<%}%>
