<div id="contact">
	<a href="mailto:dnori817@gmail.com"><img class="icon"src="/images/gmail.png"></a>
	<a href="https://www.linkedin.com/in/david-noriega-353773147"><img class="icon2"src="/images/in.png"></a>
	<a href="https://github.com/dnori817"><img class="icon" src="/images/git.png"></a>
</div>
