<div id="contact">
	<div class="">

		<h4>Email:</h4>
		<a href="mailto:dnori817@gmail.com" class="contact-page-link">dnori817@gmail.com</a>
		<%# <img class="icon"src="/images/gmail.png">%>
	</div>
	<br>
	<div class="">

		<h4>Phone:</h4>
		<a href="tel:+16313368656" class="contact-page-link">(631)336-8656</a>
	</div>
	<br>
	<div class="">

	<h4>Linkedin:</h4>
		<a href="https://www.linkedin.com/in/david-noriega-353773147" class="contact-page-link" target= "_blank">
			linkedin.com/in/david-noriega-353773147
		</a>
		<%# <img class="icon2"src="/images/in.png">%>
	</div>
	<div class="">

		<h4>Github:</h4>
		<a href="https://github.com/dnori817" class="contact-page-link" target= "_blank">
		github.com/dnori817
		<%# <img class="icon" src="/images/git.png">%>
		</a>
	</div>
</div>
