

<h1 class ="add">Add Post</h1>
<div class ="form">
	<form method="post" action = "/blog">
		Title:
		<input name ="title" type ="text" placeholder="ENTER TITLE"/>
		<br/>
		Date:
		<input name ="date" type ="text" placeholder="ENTER DATE"/>
		<br/>
		Body:
		<textarea name ="body" type="text" placeholder="Enter post"></textarea>
		<br/>
		<button>SUBMIT</button>
	</form>
</div>
