<div class="container">
	<%# <div class="two columns"></div>%>
	<div id="gallery" class="">
		<div class="project">
			<a href="https://brainpain.herokuapp.com" target="_blank">
				<div class="img2 screenshot"></div>
			</a>
			<div class="description">
				<h1>
					<a href="https://brainpain.herokuapp.com" target="_blank">
						BrainPain
					</a>
					<span><h5>React/Redux Trivia Game</h5></span>
				</h1>
				<h4 class="built">Built with:<span>
				<h6>
					<a href="https://reactjs.org/" target="_blank">React,</a>
					<a href="http://redux.js.org/" target="_blank">Redux,</a>
					<a href="http://materializecss.com/" target="_blank">MaterializeCSS,</a>
					<a href="https://opentdb.com/"target="_blank">Open Trivia Database API,</a>
					<a href="http://sass-lang.com/" target="_blank">SASS,</a>
					<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">javaScript,</a>
					<a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">HTML5,</a>
					<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank">CSS3,</a>
					<a href="https://nodejs.org/en/" target="_blank">Node,</a>
					<a href="https://babeljs.io/" target="_blank">Babel,</a>
					<a href="https://webpack.js.org/" target="_blank">Webpack</a>
				</h6>
			</span>
		</h4>
		<p>BrainPain is a fast-paced trivia game built with React and using the Open Trivia Database to supply thousands of random questions!</p>
			<a href="https://github.com/dnori817/BrainPain"><img class="gh" src="/images/git.png" target="_blank"> VIEW CODE ON GITHUB</a>

			</div>
		</div>
		<div class="project">
			<a href="https://dnori817.github.io/index.html" target="_blank">
				<div class="img3 screenshot"></div>
			</a>
			<div class="description">
				<h1><a href="https://dnori817.github.io/index.html" target="_blank">RoboCop Game</a><span>
				<h5>Retro HTML5 Canvas Video Game Demo</h5>
			</span>
		</h1>
		<h4 class="built">Built with:
			<span>
				<h6>
					<a href="https://phaser.io" target="_blank">Phaser, </a>
					<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">javaScript,</a>
					<a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">HTML5,</a>
					<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank">CSS3,</a>
				</h6>
			</span>
		</h4>
		<p>A fun little  2-D retro style platformer game.  Built with Phaser, a javaScript framework for building games using HTML5's Canvas. </p>
		<a href="https://github.com/dnori817/dnori817.github.io"><img class="gh" src="/images/git.png" target="_blank"> VIEW CODE ON GITHUB</a>

			</div>
		</div>
		<div class="project">
			<a href="https://rocky-garden-70764.herokuapp.com/" target="_blank">
				<div class="img1 screenshot"></div>
			</a>
			<div class="description">
				<h1><a href="https://rocky-garden-70764.herokuapp.com/" target="_blank">Watches n' Stuff</a>
				<span>
					<h5>React/Redux Mock E-commerce Site</h5>
				</span>
				</h1>
				<h5 class="built">Built with:
				<span>
					<h6>
						<a href="https://reactjs.org/" target="_blank">React,</a>
						<a href="http://redux.js.org/" target="_blank">Redux,</a>
						<a href="http://materializecss.com/" target="_blank">MaterializeCSS,</a>
						<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">javaScript,</a>,
						<a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">HTML5,</a>
						<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank">CSS3,</a>
						<a href="https://nodejs.org/en/" target="_blank">Node,</a>
						<a href="https://babeljs.io/" target="_blank">Babel,</a>
						<a href="https://webpack.js.org/" target="_blank">Webpack</a>
					</h6>
				</span>
				</h5>
				<p>Mock-up of an E-commerce site built with React with database for storing orders and customer info.</p>
				<a href="https://github.com/dnori817/Redux-eCommerce-Site" target="_blank"><img class="gh" src="/images/git.png"> VIEW CODE ON GITHUB</a>

			</div>
		</div>
		<div class="project">
			<a href="https://photoproject.herokuapp.com/" target="_blank">

				<div class="img4 screenshot"></div>
			</a>
			<div class="description">
				<h1><a href="https://photoproject.herokuapp.com/" target="_blank">Photomatic</a><span>
				<h5>Express Photo Sharing App</h5>
			</span>
		</h1>
		<h5 class="built">Built with:
		<span>
			<h6>
				<a href="https://expressjs.com/" target="_blank">Express, </a>
				<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">javaScript,</a>
				<a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">HTML5,</a>
				<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank">CSS3,</a>
				<a href="https://nodejs.org/en/" target="_blank">Node,</a>
				<a href="http://getskeleton.com/" target="_blank">SkeletonCSS</a>
			</h6>
	</span>
</h5>
<p>Photo-sharing app built with Node Express which allows users to upload image files as well as comment and like other's photos.  Colaborative project built with <a href="https://github.com/justloffredo">justlofredo</a> and <a href="https://github.com/janepark7">janepark7</a>.</p>
		<a href="https://github.com/dnori817/photomatic_project" target="_blank"><img class="gh" src="/images/git.png"> VIEW CODE ON GITHUB</a>
			</div>
		</div>
	</div>
	<%# <div class="four columns">
		<div class="">

		</div>
		<div class="">

		</div>
		<div class="">

		</div>
	</div>%>
	<%# <div class="two columns"></div>%>

</div>
