<div class="container">
	<%# <div class="two columns"></div>%>
	<div id="gallery" class="">
		<div class="">
			<div class="img2 screenshot"></div>
			<div class="description">
				<h1>BrainPain Trivia Game</h1>
				<h2>Built with:</h2>
				<p>Blah bla blah</p>
			</div>
		</div>
		<div class="">
			<div class="img3 screenshot"></div>
			<div class="description">
				<h1>2-D Platformer Game</h1>
				<h2>Built with:</h2>
				<p>Blah bla blah</p>
			</div>
		</div>
		<div class="">
			<div class="img1 screenshot"></div>
			<div class="description">
				<h1>Mock E-commerce Site</h1>
				<h2>Built with:</h2>
				<p>Blah bla blah</p>
			</div>
		</div>
		<div class="">
			<div class="img4 screenshot"></div>
			<div class="description">
				<h1>Photomatic Photo-Sharing App</h1>
				<h2>Built with:</h2>
				<p>Blah bla blah</p>
			</div>
		</div>
	</div>
	<%# <div class="four columns">
		<div class="">

		</div>
		<div class="">

		</div>
		<div class="">

		</div>
	</div>%>
	<%# <div class="two columns"></div>%>

</div>
