@font-face {
    font-family: "PressStart2P";
    src: url(../images/fonts/PressStart2P.ttf) format("truetype");
}

/*@font-face {
    font-family: "finalf";
    src: url(../images/fonts/finalf.ttf) format("truetype");
}*/

@font-face {
    font-family: "DisposableDroidBB_ital";
    src: url(../images/fonts/DisposableDroidBB_ital.otf) format("opentype");
}

* {
	font-family: "DisposableDroidBB_ital"
}

body {
	background-color: #23745A;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
}

nav {
	display: inline;
	background-color: #23745A;
}

header {
	color: white;
	height: 420px;
	width: 100%;
	margin: 0;
	background-image: url("../images/dnbg1.jpg");
	background-size: cover;

	border-bottom: 5px solid black;
}

#name {
/*	font-family: "PressStart2P";
*/	color: #4D0101;
	padding-left: 10px;
	padding-bottom: 5px;
	font-size: 120px;
	text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
	/*margin-bottom: 0px;
	margin-top: 0px;*/
	margin: 0px;
	width: 50%;


}

#contact {
	width: 100%;
	text-align: center;
	margin: auto;
	float: left;
	padding-top: 20px;
}

#menu {
	float: right;
	display: inline;
	/*width: 50%;*/
	clear: both;
	/*-webkit-padding-start: 0px;*/
	padding: 0px;

	margin-top: -50px;
/*	margin-bottom: 10px;
*/}

.icon {
	height: 100px;
	width: 100px;
	/*padding: 50px;*/
	padding-top: 15px;
}

.icon2 {
	height: 115px;
	width: 115px;
	/*padding-bottom: 45px;*/

}

.header-contact {
	float: right;
	padding: 10px;
	margin-top: -130px;
	text-align: right;
	list-style: none;

}

.header-contact li {
	font-size: 25px;
	/*position: fixed;*/
	padding-right: 10px;

}

.menu-item {
	float: right;
	/*display: inline;*/
	font-size: 40px;
	padding-right: 20px;
	color: white;
	text-decoration: none;
	list-style: none;
	/*margin-top: 20px;*/
	text-align: right;
}



.menu-item:hover {
	color: #23745A;
}

.title {
	font-size: 60px;
	color: #23745A;
	/*padding: 25px;*/
	width: 50%;
	padding-left: 25px;
	margin-top: 180px;
	bottom: 0;
	float: left;
	text-align: left;
	clear: left;

}

.text {
	color: #4D0101;
	font-size: 30px;
	padding-left: 10px;
	padding-bottom: 10px;
}

footer {
	font-family: "PressStart2P";
	height: 30px;
	background-color: black;
	color: #4D0101;
	text-align: center;
	padding-top: 10px;
	clear: both;
	bottom: 0;
	width: 100%;
	position: fixed;

}
#gallery {
	padding: 0px;
}

#gallery div {
	display: block;
	float: left;
}

.screenshot {
	background-repeat: no-repeat;
	border: 5px solid black;
	border-radius: 2%;
	background-size: cover;
	display: block;
	margin: 20px;
	height: 250px;
	width: 450px;
	/*float: left;*/
}

.description {
	height: 300px;
	width: 300px;
}

.form {
	width: 50%;
 	margin: 0 auto;
	padding:20px;
}

.formlink {
	float: right;
	font-size: 32px;
}

li {
	font-size: 32px;
}

.img4 {
	background-image: url("../images/gallery/photo.png");
}
.img3 {
	background-image: url("../images/gallery/robocop.png");
}

.img2 {
	background-image: url("../images/gallery/brainpain.png");
}

.img1 {
	background-image: url("../images/gallery/ecomm.png");
}


@media all and (max-width: 1040px){

	#gallery div {
		float: none;
		margin: 10px auto;
	}
}


@media all and (max-width: 570px){
	header {
		margin-top: -30px;
	}

	#name {
		font-size: 60px;
		margin: 10px;
		margin-top: 20px;
		padding: 10px;
	}

	#title {
		font-size: 30px;
		/*margin-bottom: 40px;*/
	}

	#menu {
		margin-right: 10px;
		margin-top: -60px;
	}

	#menu li {
		font-size: 28px;
		/*margin-top: 90px;*/
	}

	.header-contact {
		margin-top: -160px;
	}

	#gallery div {
		height: 150px;
		width: 300px;
		margin: 5px auto;
	}

  	/*.img1 {
  		background-image: url("../images/gallery/image-1-small.jpg");
  	}

  	.img2 {
  		background-image: url("../images/gallery/image-2-small.jpg");
  	}

  	.img3 {
  		background-image: url("../images/gallery/image-3-small.jpg");
  	}*/

}




.country {

}

.country-name {

}

.country-native {

}

.country-region {

}

.country-flag {

}



.not-found {
	margin: auto;
}

.not-found-gif {
	height: 500px;
	width: 500px;
}
